[Desktop Entry]
Encoding=UTF-8
Name=Link to merXdocumentation.odt
Type=Link
URL=https://www.dropbox.com/static/images/icons/icon_spacer-vflN3BYt2.gif
Icon=image-gif
